{% extends "base.html" %}
{% block page_content %}

<div class="form-container">
    <form action="" method="POST">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-25">
                {{ form.categories.label(class="label") }}
            </div>
            <div class="col-75">
                {{form.categories(class="form")}}
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                {{ form.description.label(class="label") }}
            </div>
            <div class="col-75">
                {{form.description(class="form")}}
                {% if form.description.errors %}
                <div class="invalid-feedback">
                    {% for error in form.description.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                {{ form.unit_cost.label(class="label") }}
            </div>
            <div class="col-75">
                {{form.unit_cost(class="form")}}
                {% if form.unit_cost.errors %}
                <div class="invalid-feedback">
                    {% for error in form.unit_cost.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                {{ form.code.label(class="label") }}
            </div>
            <div class="col-75">
                {{form.code(class="form")}}
                {% if form.code.errors %}
                <div class="invalid-feedback">
                    {% for error in form.code.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                {{ form.is_available.label(class="label") }}
            </div>
            <div class="col-75">
                {{form.is_available(class="form")}}
            </div>
        </div>

        <div class="row">
            <div class="col-25">

            </div>
            <div class="col-75">
                {{form.submit(class="btn btn-default")}}
            </div>
        </div>

    </form>
</div>

{% endblock %}