{% extends "base.html" %}
{% block page_content %}
<div class="container">

    <div>
        <a class="btn btn-primary" href="{{ url_for('blueprint_product.new_product') }}">
            Novo
        </a>
        <a class="btn btn-default" href="{{ url_for('blueprint_product.search_product') }}">
            Buscar
        </a>

    </div>

    <div class="table-responsive">
        <table>
            <caption><h4>Produtos</h4></caption>
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>R$</th>
                    <th>Status</th>
                    <th>Código</th>
                </tr>
            </thead>

            <tbody>
                {% for product in all_products.items %}
                <tr>
                    <td>{{ product.description }}</td>
                    <td>{{ product.unit_cost }}</td>
                    {% if product.is_available %}
                    <td>disponível</td>
                    {% else %}
                    <td>indisponível</td>
                    {% endif %}
                    <td>{{ product.code }}</td>

                    <td align="center">
                        <a class="btn btn-primary" href="{{ url_for('blueprint_product.update_product',id=product.id) }}">
                            Editar
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination">
        {% for page_number in all_products.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
        {% if page_number %}
        {% if all_products.page == page_number %}
        <a href="{{ url_for('blueprint_product.get_products',page=page_number) }}">{{ page_number }}</a>
        {% else %}
        <a href="{{ url_for('blueprint_product.get_products',page=page_number) }}">{{ page_number }}</a>
        {% endif %}
        {% else %}
        ...
        {% endif %}
        {% endfor %}    
    </div>
</div>
{% endblock %}

