{% extends "base.html" %}
{% block page_content %}

<div class="form-container">
    <form action="" method="POST">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-25">
                {{ form.name.label(class="label") }}
            </div>
            <div class="col-75">
                {{form.name(class="form")}}
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                {{ form.identification.label(class="label") }}
            </div>
            <div class="col-75">
                {{form.identification(class="form")}}
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                {{ form.phone_number.label(class="label") }}
            </div>
            <div class="col-75">
                {{form.phone_number(class="form")}}
                {% if form.phone_number.errors %}
                <div class="invalid-feedback">
                    {% for error in form.phone_number.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                {{ form.street.label(class="label") }}
            </div>
            <div class="col-75">
                {{form.street(class="form")}}
                {% if form.street.errors %}
                <div class="invalid-feedback">
                    {% for error in form.street.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                {{ form.notifiable.label(class="label") }}
            </div>
            <div class="col-75">
                {{form.notifiable(class="form")}}
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                {{ form.status.label(class="label") }}
            </div>
            <div class="col-75">
                {{form.status(class="form")}}
            </div>
        </div>

        <div class="row">
            <div class="col-25">

            </div>
            <div class="col-75">
                {{form.submit(class="btn btn-default")}}
            </div>
        </div>
    </form>
</div>

{% endblock %}