{% extends "base.html" %}
{% block page_content %}

<div class="form-container">
    <form action="" method="POST">
        {{ form.csrf_token }}
        <div class="row">
            <div class="col-25">
                {{ form.name.label(class="label") }}
            </div>
            <div class="col-75">
                {{form.name(class="form")}}
                {% if form.name.errors %}
                <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                {{ form.email.label(class="label") }}
            </div>
            <div class="col-75">
                {{form.email(class="form")}}
                {% if form.email.errors %}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                {{ form.phone_number.label(class="label") }}
            </div>
            <div class="col-75">
                {{form.phone_number(class="form")}}
                {% if form.phone_number.errors %}
                <div class="invalid-feedback">
                    {% for error in form.phone_number.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                {{ form.password.label(class="label") }}
            </div>
            <div class="col-75">
                {{form.password(class="form")}}
                {% if form.password.errors %}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                {{ form.confirm.label(class="label") }}
            </div>
            <div class="col-75">
                {{form.confirm(class="form")}}
                {% if form.confirm.errors %}
                <div class="invalid-feedback">
                    {% for error in form.confirm.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                {{ form.master_key.label(class="label") }}
            </div>
            <div class="col-75">
                {{form.master_key(class="form")}}
                {% if form.master_key.errors %}
                <div class="invalid-feedback">
                    {% for error in form.master_key.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-25">

            </div>
            <div class="col-75">
                {{form.submit(class="btn btn-default")}}
            </div>
        </div>

    </form>
</div>

{% endblock %}