{% extends "base.html" %}
{% block page_content %}
<div>
    <div>

        <!-- Default panel contents -->
        <div>
            <div>
                <h4>Pagamento & Pedidos</h4>
            </div>
        </div>
        <div>
            <!-- Table will be inserted here dinamicly-->
            <div id="balanceview">

            </div>
        </div>

    </div>
    <div>
        <div>
            <!-- Default panel contents -->
            <div>
                <div>
                    <div>
                        <h4>Redimentos</h4>
                    </div>

                </div>
            </div>
            <div>
                <!-- Table will be inserted here dinamicly-->
                <div id="profitview">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
