{% extends "base.html" %}
{% block page_content %}
<div class="container">

    <!-- Default panel contents -->
    <div class="row">
        <div id="grafico-linha" class="col-60"></div>
        <div id="grafico-pizza" class="col-40"></div>
    </div>
    <script src="https://www.gstatic.com/charts/loader.js" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/services/Report.js') }}" type="text/javascript"></script>
    <script>
        google.charts.load('current', { 'packages': ['corechart'], 'language': 'pt' });
        google.charts.setOnLoadCallback(drawCharts);
    </script>
</div>

{% endblock %}
