{% extends "base.html" %}
{% block page_content %}
<div class="container">
    <div>

        <div>
            <a class="btn btn-primary" href="{{ url_for('blueprint_category.new_category') }}">
                Nova
            </a>
            <a class="btn btn-default" href="{{ url_for('blueprint_category.search_category') }}">
                Buscar
            </a>

        </div>

    </div>

    <div>
        <table>
            <caption><h4>Categorias</h4></caption>
            <thead>
                <tr>
                    <th>Nome</th>
                </tr>
            </thead>

            <tbody>
                {% for category in categories.items %}
                <tr>
                    <td>{{ category.title }}</td>

                    <td align="center">
                        <a class="btn btn-primary" href="{{ url_for('blueprint_category.update_category',id=category.id) }}">
                            Editar
                        </a>
                        <a class="btn btn-default" href="{{ url_for('blueprint_category.products_of',id=category.id) }}">
                            Ver produtos
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="panel-footer p-0">
        {% for page_number in categories.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
        {% if page_number %}
        {% if categories.page == page_number %}
        <a class="btn btn-info mb-4"
           href="{{ url_for('blueprint_category.get_categories',page=page_number) }}">{{ page_number }}</a>
        {% else %}
        <a class="btn btn-outline-info mb-4"
           href="{{ url_for('blueprint_category.get_categories',page=page_number) }}">{{ page_number }}</a>
        {% endif %}
        {% else %}
        ...
        {% endif %}
        {% endfor %}
    </div>
</div>


{% endblock %}

