{% extends "base.html" %}
{% block title %}Editar{% endblock %}
{% block page_content %}
    <div class="row">
        <div class="col-md-7 col-md-offset-1">
            <h2 class="titulo-principal">Lista de itens</h2>
            <div>
                <table class="table table-striped table-responsive table-bordered">
                    <thead class="thead-default">
                    <tr>
                        <th>Descrição</th>
                        <th>Quantidade</th>
                        <th>Preço Unitátio</th>
                        <th>Preto Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in order_items.items %}
                        <tr>
                            <td>{{ item.product.description }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.product.unit_cost }}</td>
                            <td>{{ item.extended_cost }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% for page_number in order_items.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
                    {% if page_number %}
                        {% if order_items.page == page_number %}
                            <a class="btn btn-info mb-4"
                               href="{{ url_for('blueprint_order.get_orders',page=page_number) }}">{{ page_number }}</a>
                        {% else %}
                            <a class="btn btn-outline-info mb-4"
                               href="{{ url_for('blueprint_order.get_orders',page=page_number) }}">{{ page_number }}</a>
                        {% endif %}
                    {% else %}
                        ...
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
