{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Novo{% endblock %}
{% block page_content %}

<div id="messageView" class="alert alert-danger collapse">
    <!-- Message will be inserted here dinamicly-->
</div>
<div id="client-id" data-url="{{client.id}}"></div>

<div class="row">
    <div class="col-md-9">
        <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <div class="row">
                    <div class="col col-xs-6">
                        <h4>Pedidos</h4>
                    </div>
                    <div class="col col-xs-6 text-right">
                        <button type="button" class="btn btn-primary" id="save-items-btn">
                            <i class="glyphicon glyphicon-floppy-disk"></i>
                            <span>Salvar</span>
                        </button>

                    </div>

                </div>
            </div>
            <div class="panel-body">
                <!-- Table will be inserted here dinamicly-->
                <div id="itemsView">

                </div>
            </div>
            <div class="panel-footer">
                Valor Total de Pedidos R$
                <span id="price_holder" data-value="0.0"></span>
            </div>
        </div>
    </div>


    <div class="col-md-3">
        <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">Produtos</div>
            <div class="panel-body">

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="manual-tab" data-toggle="tab" href="#manual" role="tab"
                            aria-controls="manual" aria-selected="true">Manual</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="automatic-tab" data-toggle="tab" href="#automatic" role="tab"
                            aria-controls="automatic" aria-selected="false">Automatico</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="manual" role="tabpanel" aria-labelledby="manual-tab">
                        <form action="" id="manual-form" method="POST">
                            <div class="form-group" id="categoriesView">
                                <!-- Select will be inserted here dinamicly-->                                
                            </div>

                            <div class="form-group" id="productsView">
                                <!-- Select will be inserted here dinamicly-->
                            </div>

                            <div class="form-group">
                                <label for="unit_cost_manual_form">Preço</label>
                                <input disabled type="text" class="form-control" id="unit_cost_manual_form">
                            </div>

                            <div class="form-group  required">
                                <label for="quantity_manual_form">Quantidade</label>
                                <input type="number" placeholder="1,00" name="price" min="0.01" value="1" step="0.01"
                                    class="form-control" id="quantity_manual_form" required="">
                            </div>
                            <div>
                                <button type="button" class="btn btn-primary" id="add-item-btn-manual-form">
                                    Adicionar
                                </button>
                            </div>
                        </form>

                    </div>
                    <div class="tab-pane" id="automatic" role="tabpanel" aria-labelledby="automatic-tab">
                        <form action="" method="POST">
                            <div class="form-group">
                                <input id="product_id_automatic_form" name="product" type="hidden" value="">
                                <label for="product_code_automatic_form">Código</label>
                                <input type="text" class="form-control" id="product_code_automatic_form" size="13"
                                    maxlength="13">
                            </div>

                            <div class="form-group">
                                <label for="description_automatic_form">Descrição</label>
                                <input disabled type="text" class="form-control" id="description_automatic_form">
                            </div>

                            <div class="form-group">
                                <label for="unit_cost_automatic_form">Preço</label>
                                <input disabled type="text" class="form-control" id="unit_cost_automatic_form">
                            </div>

                            <div class="form-group  required">
                                <label for="quantity_automatic_form">Quantidade</label>
                                <input type="number" placeholder="1.00" name="price" min="0.01" value="1" step="0.01"
                                    class="form-control" id="quantity_automatic_form" required="">
                            </div>
                            <div>
                                <button type="button" class="btn btn-secondary" id="search-product-btn-automatic-form">
                                    Buscar
                                </button>
                                <button type="button" class="btn btn-primary" id="add-product-btn-automatic-form">
                                    Adicionar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>        

    </div>

    <script src="{{ url_for('static', filename='jquery-3.4.0.min.js') }}" type="text/javascript"></script>
    <!--<script src="{{ url_for('static',filename='order_table.js') }}"></script>-->

    <script src="{{ url_for('static', filename='js/models/Item.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/models/Items.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/models/Category.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/models/Categories.js') }}" type="text/javascript"></script>


    <script src="{{ url_for('static', filename='js/models/PartialProduct.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/models/Product.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/models/Products.js') }}" type="text/javascript"></script>

    <script src="{{ url_for('static', filename='js/views/View.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/views/ProductView.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/views/CategoryView.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/views/ItemView.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/views/MessageView.js') }}" type="text/javascript"></script>

    <script src="{{ url_for('static', filename='js/decorators/domInject.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/decorators/throttle.js') }}" type="text/javascript"></script>

    <script src="{{ url_for('static', filename='js/services/HandlerFunction.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/services/CategoryService.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/services/ProductService.js') }}" type="text/javascript"></script>

    <script src="{{ url_for('static', filename='js/controllers/OrderController.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}" type="text/javascript"></script>

</div>
{% endblock %}