{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Novo{% endblock %}
{% block page_content %}
<div class="col-md-4 col-md-offset-4">  
    <div class="panel panel-info">
        <div class="panel-heading">
        <h4>Novo cliente</h4>    
        </div>
        <div class="panel-body">
            <form action="" method="POST">
                {{ form.csrf_token }}
                {{ form.hidden_tag() }}
                {{ wtf.quick_form(form) }}
            </form>
        </div>    
        
    </div>
</div>
    
{% endblock %}