.btn {
    display: inline-block;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 10px 15px;
    color: #fff;
    border-radius: .25rem;
}

.btn-primary {
    background-color: #0062cc;
    border-color: #005cbf;
}

.btn-danger {    
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-default {    
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn:hover {
    color: #000;
    background-color: #ccc;
}
