{% extends "template.html" %}
{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul id="messages" class="list_unstyled">
    {% for message in messages %}
    <li class="alert alert-success">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<h2 class="subtitulo-texto">Write down your email</h2>

<form action="/authentication" method="POST">
    <input type="hidden" name="next" value="{{next_page or '/'}}"/>
    <p>
        <label>Email do usuário:</label>
        <input class="form-control" type="email" name="email" required>
    </p>

    <p>
        <label>Senha:</label>
        <input class="form-control" type="password" name="password" required>

    </p>

    <p>
        <button class="btn btn-primary" type="submit">Entrar</button>

        <button class="btn btn-secondary" type="submit">Registrar</button>
    </p>
</form>
{% endblock%}