<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Icon and css -->
    <link rel="icon" href="{{ url_for('static',filename='gl.png') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/table.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/button.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/message.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tab.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/account.css') }}">

    <title>Palma de Ouro</title>
    {% endblock %}
</head>
<body>
    {% block navbar %}
    <header>
        <nav>
            <ul class="nav">
                <li class="nav-item-left">
                    <a class="nav-link active" href="{{ url_for('blueprint_main.index') }}">
                        <span class="glyphicon glyphicon-leaf"></span> Palma de Ouro
                    </a>
                </li>
                <li class="nav-item-left">
                    <a class="nav-link" href="{{ url_for('blueprint_category.get_categories') }}">Categorias</a>
                </li>
                <li class="nav-item-left">
                    <a class="nav-link" href="{{ url_for('blueprint_product.get_products') }}">Produtos</a>
                </li>
                <li class="nav-item-left">
                    <a class="nav-link" href="{{ url_for('blueprint_client.get_clients') }}">Clientes</a>
                </li>
                <li class="nav-item-left">
                    <a class="nav-link" href="{{ url_for('blueprint_order.get_orders') }}">Pedidos</a>
                </li>
                <li class="nav-item-left">
                    <a class="nav-link" href="{{ url_for('blueprint_payment.get_payment') }}">Pagamentos</a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item-right">
                    <a class="nav-link" href="{{ url_for('blueprint_clerk.account') }}">
                        {{ current_user.name }}
                    </a>

                </li>
                <li class="nav-item-right">
                    <a class="nav-link" href="{{ url_for('blueprint_clerk.logout') }}">
                        Logout
                    </a>
                </li>

                {% else %}
                <li class="nav-item-right">
                    <a class="nav-link" href="{{ url_for('blueprint_clerk.login') }}">
                        <span class="glyphicon glyphicon-user"></span> Login
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
        <div>
            <nav>
                <ol class="breadcrumb">
                    {% for breadcrumb in breadcrumbs %}
                    <li class="nav-item-left">
                        <a class="nav-link" href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a>
                    </li>
                    {% endfor %}
                </ol>
            </nav>

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </header>
    {% endblock %}
    <main>
        {% block content  %}

        <div>
            {% block page_content %}

            {% endblock %}
        </div>
        {% endblock %}
    </main>
        

</body>