{% extends "bootstrap/base.html" %}

<head>
    {% block head %}
        {{ super() }}
        <meta charset="utf-8">
        <link rel="icon" href="{{ url_for('static',filename='gl.png') }}">
        <title>Palma de Ouro</title>
    {% endblock %}
</head>
<body>
{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"
                        data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">Palma de Ouro</a>
            </div>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <ul class="nav navbar-nav">
                        <li><a class="nav-item nav-link" href="{{ url_for('listing_products') }}">Produtos</a>
                        </li>
                        <li><a class="nav-item nav-link"
                               href="{{ url_for('listing_clients') }}">Clientes</a></li>
                        <li><a class="nav-item nav-link"
                               href="{{ url_for('listing_orders_of') }}">Pedidos</a></li>

                    </ul>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    <ul class="nav navbar-nav">
                        {% if current_user.is_authenticated %}
                            <li><a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a></li>
                        {% else %}
                            <li><a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a></li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
<main>
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}

        {% block content %}{% endblock %}

    </div>
</main>

<footer class="rodape-pagina"> &copy; Renan Rosa 2018</footer>
</body>
