{% extends "base.html" %}
{% block page_content %}

<div id="messageView" class="message error-message">
    <!-- Message will be inserted here dinamicly-->
</div>
<div class="container">
    <div class="row">
        <div class="col-75">
            <div>
                <button type="button" class="btn btn-primary" id="save-items-btn">
                    <i class="glyphicon glyphicon-floppy-disk"></i>
                    <span>Salvar</span>
                </button>
            </div>
            <!-- Table will be inserted here dinamicly-->
            <div id="itemsView">

            </div>

        </div>

        <div class="col-25">
            <div class="tabs">
                <input type="radio" id="tabmanual" name="tab" checked="checked">
                <label class="tab-label" for="tabmanual">Manual</label>
                <div class="tab">
                    <form action="" id="manual-form" method="POST">
                        <div id="categoriesView">
                            <!-- Select will be inserted here dinamicly-->
                        </div>

                        <div id="productsView">
                            <!-- Select will be inserted here dinamicly-->
                        </div>

                        <div class="row">
                            <div class="col-25">
                                <label class="label" for="unit_cost_manual_form">Preço</label>
                            </div>
                            <div class="col-75">
                                <input class="form" disabled type="text" id="unit_cost_manual_form">
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-25">
                                <label class="label" for="quantity_manual_form">Quantidade</label>
                            </div>
                            <div class="col-75">
                                <input type="number" placeholder="1,00" name="price" min="0.01" value="1" step="0.01"
                                       class="form" id="quantity_manual_form" required="">
                            </div>
                        </div>
                        <div>
                            <div class="col-25">
                                
                            </div>
                            <div class="col-75">
                                <button type="button" class="btn btn-primary" id="add-item-btn-manual-form">
                                    Adicionar
                                </button>
                            </div>
                            
                        </div>
                    </form>
                </div>

                <input type="radio" id="tabutomatic" name="tab">
                <label class="tab-label" for="tabutomatic">Automatico</label>
                <div class="tab">
                    <form action="" method="POST">
                        <div class="row">
                            <div class="col-25">
                                <label class="label" for="product_code_automatic_form">Código</label>
                            </div>
                            <div class="col-75">
                                <input class="form" type="text" id="product_code_automatic_form" size="13" maxlength="13">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-25">
                                <label class="label" for="description_automatic_form">Descrição</label>
                            </div>
                            <div class="col-75">
                                <input disabled type="text" class="form" id="description_automatic_form">
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-25">
                                <label class="label" for="unit_cost_automatic_form">Preço</label>
                            </div>
                            <div class="col-75">
                                <input disabled type="text" class="form" id="unit_cost_automatic_form">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-25">
                                <label class"label" for="quantity_automatic_form">Quantidade</label>
                            </div>
                            <div class="col-75">
                                <input class="form" type="number" placeholder="1.00" name="price" min="0.01" value="1" step="0.01"
                                       id="quantity_automatic_form" required="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                                
                            </div>
                            <div class="col-75">
                                <button type="button" class="btn btn-secondary" id="search-product-btn-automatic-form">
                                    Buscar
                                </button>
                                <button type="button" class="btn btn-primary" id="add-product-btn-automatic-form">
                                    Adicionar
                                </button>
                            </div>

                            
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>






    <script type="text/javascript">
        localStorage.setItem('token', "{{token}}")
    </script>
    <script src="{{ url_for('static', filename='jquery-3.4.0.min.js') }}" type="text/javascript"></script>







    <!--<script src="{{ url_for('static',filename='order_table.js') }}"></script>-->

    <script src="{{ url_for('static', filename='js/models/Item.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/models/Items.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/models/Category.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/models/Categories.js') }}" type="text/javascript"></script>


    <script src="{{ url_for('static', filename='js/models/PartialProduct.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/models/Product.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/models/Products.js') }}" type="text/javascript"></script>

    <script src="{{ url_for('static', filename='js/views/View.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/views/ProductView.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/views/CategoryView.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/views/ItemView.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/views/MessageView.js') }}" type="text/javascript"></script>

    <script src="{{ url_for('static', filename='js/decorators/domInject.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/decorators/throttle.js') }}" type="text/javascript"></script>

    <script src="{{ url_for('static', filename='js/services/HandlerFunction.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/services/CategoryService.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/services/ProductService.js') }}" type="text/javascript"></script>

    <script src="{{ url_for('static', filename='js/controllers/OrderController.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}" type="text/javascript"></script>

</div>
{% endblock %}